@import "tailwindcss";

html {
  height: 100vh;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.correct {
  background-color: rgb(70, 118, 70);
}

.wrong {
  background-color:  #cd5359;
}

.idle {
  background-color: #cd5359;
}